@use '../utils';

.btn {
  display: flex;
  place-content: center;
  width: min(15rem, 80%);
  padding: 0.8rem 2rem;
  border-radius: utils.$border-radius-15-px;
}

.action__btn {
  font-size: utils.$font-s;
  font-weight: 600;
  color: whitesmoke;
  background:  utils.$color-gradient;
  align-self: center;
}

.goUp__btn {
  width: clamp(64px, 20%, 80px);
}

.action__btn:hover {
  scale: 1.1;
  box-shadow: 6px 5px 3px 0px #E5FFCB;
}

.action__btn:active {
  background: utils.$color-gradient-active;
  border: 4px solid rgba(0, 0, 0, 0.25);
}