@use '../utils';

.btn {
  display: flex;
  place-content: center;
  width: min(15rem, 80%);
  padding: 0.8rem 2rem;
  border-radius: utils.$border-radius-08;
}

.action__btn {
  font-size: utils.$font-s;
  font-weight: 600;
  color: whitesmoke;
  background:  utils.$color-gradient;
  align-self: center;
}