@use '../utils';

.nextui-c-BDLTQ {
  background: #fffffff2;
}

.nextui-c-eFfoBo {
  @include utils.flexCol;
}

.card {
  display: flex;
  border: solid utils.$color-secondary 0.01rem;
  border-radius: utils.$border-radius-15-px;
}

.card__home {
  height: 260px;
  position: relative;
  bottom: 0;
  width: clamp(9rem, 100%, 12rem);
}

.card__searched {
  height: 300px;
  width: clamp(12rem, 100%, 13rem);
}

.card__detailed {
  margin: auto;
  width: clamp(14rem, 30%, 17rem);
}

.card__name {
  color: utils.$color-neutral;
  overflow: hidden;
}

.card__home_name {
  color: utils.$color-font-dark;
  font-size: utils.$font-s;
  padding-bottom: auto;
}

.card__searched_name {
  font-size: utils.$font-l;
  padding-top: auto;
}

.card__detailed_name {
  font-size: utils.$font-xl;
}

.card__home_image {
  max-width: 100%;
  max-height: 100%;
}
  
.card__title {
  color: utils.$color-primary;
  font-weight: 600;
}

.card__data_section {
  display: flex;
  place-content: center;
  gap: 1rem;
  padding: 0 12px 0.4rem;
}

.card__data {
  display: flex;
  place-content: center;
  gap: 0.3rem;
}

.card__button {
  display: flex;
  padding: 0.4rem 12px;
  justify-content: left;
  gap: 0.6rem;
}

.card__pokemonType {
  display: inline-block;
  width: fit-content;
  padding: 0.5rem 1rem;
  background-color: utils.$color-light-violet;
  border-radius: utils.$border-radius-06;
}

/*state styles*/
.card__home:hover,
.card__searched:hover {
  scale: 1;
  border: solid #FFCC01 4px;
  border-radius: utils.$border-radius-19-px ;
}

.card__home > .nextui-c-BDLTQ:focus {
  background: #fffbead4;
}