@use '../utils';

.nextui-c-BDLTQ { //card__home face
  background: #fffffff2;
}

.nextui-c-eFfoBo {
  @include utils.flexCol;
  padding-bottom: 0;
  justify-content: space-between;
}

.nextui-c-cakKrd {
  padding: 0 0.5rem;
}

.nextui-c-jxECYO {
  flex-direction: column;
}

.memory__card {
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.card {
  display: flex;
  border: solid utils.$color-secondary 0.01rem;
  border-radius: utils.$border-radius-15-px;
}

.card__home,
.card__back {
  min-height: 220px;
  width: clamp(9rem, 100%, 12rem);
  background: utils.$color-dark-blue;
  backface-visibility: hidden;
  cursor: pointer;
} 

.memory__card .card__home {
  transform: rotateY(90deg); 
  transition: all ease-in 0.25s;
}

.toggled .card__home { 
  transform: rotateY(0deg); 
  transition-delay: 0.25s; 
} 

.memory__card > .card__back {
  transition: all ease-in 0.25s; 
  transition-delay: 0.25s; 
}

.toggled .card__back { 
  transform: rotateY(90deg); 
  transition-delay: 0s; 
} 

.card__back {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  border-radius: utils.$border-radius-15-px;
}

.card__searched,
.card__created {
  min-height: 220px;
  max-width: 170px;
  width: clamp(12rem, 100%, 13rem);
}

.card__searched {
  max-width: 146px;
}

.card__detailed,
.card__created_detailed {
  height: max(360px, 40svh);
  width: clamp(14rem, 30%, 16rem);
}

.card__name {
  color: utils.$color-neutral;
  max-height: 53px;
  overflow: hidden;
}

.card__home_name {
  color: utils.$color-font-dark;
  font-size: utils.$font-regular;
  padding-bottom: auto;
}

.card__searched_name {
  font-size: utils.$font-medium;
  padding-top: auto;
}

.card__detailed_name {
  font-size: utils.$font-large;
}

.card__created_name {
  font-size: utils.$font-medium;
  font-weight: 600;
  color: utils.$color-primary;
}

.card__image {
  width: 120px;
  height: 120px;
}

.card__detailed_image {
  max-width: auto;
  max-height: auto;
}
  
.card__title {
  color: utils.$color-primary;
  font-weight: 600;
}

.card__data_section {
  display: flex;
  place-content: center;
  gap: 1rem;
  padding: 0 12px 0.4rem;
}

.card__data {
  display: flex;
  place-content: start;
  gap: 0.3rem;
}

.card__button {
  display: flex;
  padding: 0.4rem 12px;
  justify-content: left;
  gap: 0.6rem;
}

.card__pokemonType {
  display: inline-block;
  width: fit-content;
  padding: 0.5rem 1rem;
  background-color: utils.$color-light-violet;
  border-radius: utils.$border-radius-06;
}

.card__created a {
  width: 100%;
}

/*state styles*/
.card__back:hover {
  background: utils.$color-primary;
} 

.card__created:hover,
.nextui-c-BDLTQ:hover {
  background: #ffffe6;
}

.card__detailed_body:hover,
.card__createdDetailed_body:hover {
  background: #fffffff2;
}

.card__searched_body:hover,
.card__created_body:hover {
  border: solid #FFCC01 1px;
}

.card__home > .nextui-c-BDLTQ:focus {
  background: #fffbead4;
}