@import '../utils/mixins.scss';
@import '../utils/variables.scss';

h1 {
  @include animatedTitle;
}
h1:hover {--_p: 100%}

.homeCards_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 6rem;

  .cardHome {
    text-align: right;
    padding-right: 2rem;
    min-width: 15rem;
    width: 100%;
    max-width: 4rem;
  }
}