h1 {
  font-size: 3.5rem;
  margin-top: 4rem;
  --s: 0.1em;   /* the thickness of the line */
  --c: #FFCC01; /* the color */
  
  color: #2359be;
  padding-bottom: var(--s);

  background: 
    linear-gradient(90deg,var(--c) 50%,#FFCC01 0) calc(100% - var(--_p,0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;

  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: 0.5s;
}
h1:hover {--_p: 100%}

.homeCards_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 6rem;

  .cardHome {
    text-align: right;
    padding-right: 2rem;
    min-width: 15rem;
    width: 100%;
    max-width: 4rem;
  }
}