@use '../utils';

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: utils.$color-primary;
  position: sticky;
  top: 0px;
  height: 80px;
  
  .navbar__menu {
    background-color: transparent;
    border: none;
    font-size: 24px;
    margin-right: 16px;
    padding: 16px;
  }
  .links {
    display: none;
  }
  .active {
    color: #ffffff;
    font-weight: 600;
    border-bottom: solid 4px utils.$color-secondary;
  }

  .menu {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: absolute;
    right: 0;
    top: 81px;
    background-color: #2e2776e6;
    width: 100%;
    gap: 16px;
    padding: 24px 16px;

    ul.links {
      display: flex;
      flex-direction: column;
      gap: 24px;
      list-style: none;

      li a {
        color: utils.$color-neutral-light;
        font-size: 18px;
        text-decoration: none;
        padding: 8px;
      }
    }
  }
}


@media (min-width: 600px) {
  .navbar {
    background: utils.$color-primary;

    .navbar__menu {
      display: none;
    }

    .navbar__links {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      position: absolute;
      top: 0;
      right: 16px;
      height: 100%;
      background: utils.$color-primary;
      
      ul.links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 24px;

        li a {
          color: #ffffff;
          padding-bottom: 8px;
        }
        li a:hover {
          font-size: 18px;
          border-bottom: solid 4px utils.$color-dark-blue;
        }
      }
    }
  }
}