@use '../utils';

a {
  color: white;
}

.nextui-navbar-container { 
  display: flex;
  justify-content: flex-end;
  background: utils.$color-primary;
}

.nextui-navbar-content {
  display: none;
}

.nextui-navbar-collapse-wrapper {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

.collapse__menu {
  background: #dbdbdb;
}

.navBar__item {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.navBar__link {
  color: white;
}

.nextui-c-ektsXM {
  justify-content: flex-end;
}

.nextui-c-iTPCAT-dusCa-isOpen-true {
  height: fit-content;
  padding: 0;
}

.nextui-c-jklhtj li {
  padding: 0;
  color: #ffffff;
}

.nextui-c-gpbAMl .line { /*Hamburger menu lines*/
  height: 2px;
  background-color: white;
}

.nextui-c-egxOLa,
.nextui-navbar-container,
.nextui-c-hhqfap-gqZKcP-disableBlur-false .nextui-c-egxOLa {
  background: utils.$color-primary;
}

.navbar,
.nextui-navbar,
.nextui-c-hhqfap {
  background: utils.$color-primary;
  justify-content: end;
  width: 100vw;
}

.nextui-c-iTPCAT-VujqA-disableBlur-false .nextui-c-jklhtj:where(.nextui-c-ewlcFW) {
  background: #686d77;
}

.active,
.nextui-navbar-collapse-item:hover {
  border-bottom: solid 4px utils.$color-secondary;
}

li.navBar__item:hover {
  border-bottom: solid 4px utils.$color-dark-blue;
}

@media (min-width: 768px) {
  .nextui-navbar-toggle,
  .nextui-navbar-collapse-wrapper {
    display: none;
  }
  .nextui-navbar-content {
    display: flex;
  }
}