@import '../utils/mixins.scss';

.form {
  @include flexCol;
  min-width: 17rem;
  width: 60%;
  max-width: 27rem;
  margin: auto;
  margin-top: 4rem;
  gap: 1rem;
  text-align: left;

  .submit_btn {
    margin: auto;
    margin-top: 2rem;
    width: 60%;
  }

  p {
    margin-top: 0;
    text-align: center;
    color: red;
  }
}