@use '../utils';

.form__title {
  text-align: center;
  margin: 1rem auto 0;
  color: utils.$color-primary;
}

.form {
  @include utils.flexCol;
  place-content: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
  background-color: #c9c9c959;
  border-radius: utils.$border-radius-1;
  min-width: fit-content;
  width: clamp(16rem, 80%, 34rem);
  margin: auto;
  text-align: left;
  background-color: #c9c9c959;
}

p {
  margin-top: 0;
  text-align: center;
  color: utils.$color-danger;
}