@use '../utils';

main {
  padding: 3rem 0;
  background-image: url('https://e1.pxfuel.com/desktop-wallpaper/75/774/desktop-wallpaper-pokemon-anniversary-dark-pokemon.jpg')
}

.main__content {
  @include utils.flexCol;
  align-items: center;
  gap: 2rem;
  min-height: 100svh;
  width: 100%;
}

#root {
  text-align: center;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}