@use '../utils';

main {
  padding: 3rem 0;
  background-image: url('https://e1.pxfuel.com/desktop-wallpaper/75/774/desktop-wallpaper-pokemon-anniversary-dark-pokemon.jpg')
}

footer {
  display: flex;
  justify-content: right;
  width: 100%;
  padding: 2rem 0.85rem;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.main__content {
  @include utils.flexCol;
  align-items: center;
  gap: 2rem;
}

#root {
  text-align: center;
  margin: 0;
  padding: 0;
}