@use '../utils';

main {
  padding: 3rem 0;
  background-image: url('https://e1.pxfuel.com/desktop-wallpaper/75/774/desktop-wallpaper-pokemon-anniversary-dark-pokemon.jpg')
}

h1 {
  font-size: utils.$font-extra-large;
}

h2 {
  font-size: utils.$font-large;
}

label {
  font-size: utils.$font-small;
}

article > p {
  color: black;
  font-size: utils.$font-small;
}

.main__content {
  @include utils.flexCol;
  align-items: center;
  gap: 2rem;
  min-height: 100svh;
  width: 100%;
}

.hidden {
  display: none;
}

:root {
  text-align: center;
  margin: 0;
  padding: 0;
}

@media (min-width: 650px) {
  h1 {
    font-size: 48px;
    
    label {
      font-size: utils.$font-regular;
    }
  }

  article > p {
    font-size: utils.$font-regular;
  }
}

@media (min-width: 1280px) {
  h1 {
    font-size: 56px;
  }
}