@use '../utils';

.form__title {
  text-align: center;
  margin: 1rem auto 0;
  color: utils.$color-primary;
}

.form {
  @include utils.form;
  text-align: left;
}

p {
  margin-top: 0;
  text-align: center;
  color: utils.$color-danger;
}

.created__list_section {
  @include utils.flexCol;
  width: 100%;
}

.created__title {
  color: utils.$color-secondary;
  margin: 2rem 0 0;
}