@use '../utils';

.form__title {
  text-align: center;
  margin: 1rem auto 0;
  color: utils.$color-primary;
}

.form {
  @include utils.flexCol;
  place-content: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
  font-weight: 600;
  color: #686868;
  background-color: #c9c9c9cf;
  border-radius: utils.$border-radius-1;
  min-width: fit-content;
  width: clamp(16rem, 80%, 34rem);
  margin: 2rem auto;
  text-align: left;
}

p {
  margin-top: 0;
  text-align: center;
  color: utils.$color-danger;
}

.created__list_section {
  @include utils.flexCol;
  width: 100%;
}

.created__list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 3rem;
}

.created__title {
  color: utils.$color-secondary;
  margin: 2rem 0 0;
}