@use '../utils';

.animated {
  @include utils.animatedTitle;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
  gap: 2rem;
  padding: 3rem;
  justify-items: center;
}

.desc {
  color: white;
}

.animated:hover {--_p: 100%}