@use '../utils';

.animated {
  @include utils.animatedTitle;
}

.list {
  @include utils.listGrid;
}

.desc {
  color: white;
}

.animated:hover {--_p: 100%}

.board { 
  @include utils.listGrid;
  gap: 1rem;
  max-width: 1135px;
} 

.comments { 
  padding: 0.25rem 1rem; 
  background-color: white; 
  margin: 0 auto; 
  text-align: center; 
  border-radius: 2rem; 
} 

/* CSS for Card component */
.face { 
  height: 6rem; 
} 

.back { 
  height: 6rem; 
  width: 6rem; 
  background-color: rgb(253, 218, 175); 
  color: rgb(61, 21, 21); 
  border: 1px solid black; 
  border-radius: 50%; 
} 

.item .face { 
  position: absolute; 
  transform: rotateY(90deg); 
  transition: all ease-in 0.25s; 

} 

.toggled .face { 
  transform: rotateY(0deg); 
  transition-delay: 0.25s; 
} 

.item .back { 
  transition: all ease-in 0.25s; 
  transition-delay: 0.25s; 
} 

.toggled .back { 
  transform: rotateY(90deg); 
  transition-delay: 0s; 
}

.swal2-popup {
  border-radius: utils.$border-radius-1;
  width: min(fit-content, 26rem);
  background: #fbfff8;
};

.swal2-image {
  max-width: 90%;
  border-radius: 50%;
}