@use '../utils';


.animated {
  @include utils.animatedTitle;
}
.animated:hover {--_p: 100%}

.search_form {
  @include utils.form;
}

.form_label {
  @include utils.flexCol;
  gap: 0.4rem;
  font-size: utils.$font-xs;
}

.search_label {
  gap: 1rem;
  font-size: utils.$font-s;
}

.form_input {
  @include utils.input_form;
}

.pokemon__list {
  @include utils.flexCol;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.searched__list_section {
  @include utils.flexCol;
  width: 100%;
}

.searched__title {
  color: utils.$color-secondary;
  margin: 2rem 0 0;
}