@use '../utils';


.animated {
  @include utils.animatedTitle;
}
.animated:hover {--_p: 100%}

.search_form {
  @include utils.flexCol;
  place-content: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
  color: #686868;
  background-color: #c9c9c9cf;
  border-radius: utils.$border-radius-1;
  min-width: fit-content;
  width: clamp(16rem, 80%, 34rem);
  margin: 2rem auto;
}

.form_label {
  @include utils.flexCol;
  gap: 0.4rem;
  font-size: utils.$font-xs;
}

.search_label {
  gap: 1rem;
  font-size: utils.$font-s;
}

.form_input {
  @include utils.input_form;
}

.pokemon__list {
  @include utils.flexCol;
  align-items: center;
  width: 100%;
}

.searched__list_section {
  @include utils.flexCol;
  width: 100%;
}

.searched__list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 3rem;
}

.searched__title {
  color: utils.$color-secondary;
  margin: 2rem 0 0;
}