@use '../utils';

.animated {
  @include utils.animatedTitle;
}

.animated:hover {--_p: 100%}

.search_form {
  @include utils.form;
}

.pokemon__list {
  @include utils.flexCol;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.searched__list_section {
  @include utils.flexCol;
  width: 100%;
}

.searched__title {
  font-size: utils.$font-large;
  color: utils.$color-secondary;
  margin: 2rem 0 0;
}

.close__icon {
  font-size: utils.$font-regular;
}

.nextui-c-eXOOPO-lkBNdM-isTextarea-false {
  border-radius: 0.6rem;
}

label[for="search"] {
  text-align: center;
  margin: 0 0 0.5rem 0;
  color: utils.$color-primary;
  font-size: 24px;
  font-weight: 600;
}