@mixin flexCol {
  display: flex;
  flex-direction: column;
}

@mixin flexWrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin input_form {
  border-radius: 0.6rem;
  border: solid #ffcc01 0.1rem;
  padding: 0.3rem 0.5rem;
  min-width: 15rem;
}

@mixin animatedTitle {
  -webkit-text-stroke-width: 0.9px; 
  -webkit-text-stroke-color: #FFCC01; 
  font-size: 3.5rem;
  --s: 0.1em;
  --c: #FFCC01;
  color: #2359be;
  padding-bottom: var(--s);
  width: 100%;
  background: 
    linear-gradient(90deg,var(--c) 50%,#FFCC01 0) calc(100% - var(--_p,0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: 0.8s;
}