@mixin flexCol {
  display: flex;
  flex-direction: column;
}

@mixin flexWrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin form {
  display: flex;
  flex-direction: column;
  place-content: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
  font-weight: 600;
  color: #686868;
  background-color: #c9c9c9cf;
  border-radius: 1rem;
  width: clamp(13rem, 80%, 30rem);
  margin: 2rem auto;
  text-align: left;
}

@mixin input_form {
  border-radius: 0.6rem;
  border: solid #ffcc01 0.1rem;
  padding: 0.3rem 0.5rem;
}

@mixin animatedTitle {
  -webkit-text-stroke-width: 0.9px; 
  -webkit-text-stroke-color: #FFCC01; 
  --s: 0.1em;
  --c: #FFCC01;
  color: #2359be;
  padding-bottom: var(--s);
  width: 100%;
  background: 
    linear-gradient(90deg,var(--c) 50%,#FFCC01 0) calc(100% - var(--_p,0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
  -webkit-background-clip: text,padding-box;
  transition: 0.8s;
}

@mixin listGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  width: 100%;
  gap: 2.4rem;
  padding: min(100px, 10%);
  padding-top: 3rem;
  place-items: center; 
}