$color-gradient:  linear-gradient(to right, #24c6dc, #514a9d);
$color-gradient-active: linear-gradient(to right, #FFCC01, #D28A00, #B97B03);


$color-primary: #2359be;
$color-secondary: #FFCC01;
$color-danger: #c10000;
$color-neutral: #686d77;
$color-dark-blue: #2e2776; 

$color-font-dark: #4b5360;

$color-light-violet: #eadcf8;
$color-dark-violet: #7828c8;

$font-extra-large: 42px;
$font-large: 32px;
$font-medium: 28px;
$font-regular: 18px;
$font-small: 14px;

$border-radius-1: 1rem;
$border-radius-06: 0.6rem;

$border-radius-15-px: 15px;
$border-radius-18-px: 18px;
$border-radius-19-px: 19px;