$color-gradient:  linear-gradient(to right, #24c6dc, #514a9d);
$color-gradient-active: linear-gradient(to right, #FFCC01, #D28A00, #B97B03);


$color-primary: #2359be;
$color-secondary: #FFCC01;
$color-danger: #c10000;
$color-neutral: #686d77;

$color-light-violet: #eadcf8;
$color-dark-violet: #7828c8;

$font-xl: 32px;
$font-l: 28px;
$font-m: 22px;
$font-s: 18px;
$font-xs: 14px;

$border-radius-1: 1rem;
$border-radius-08: 0.8rem;
$border-radius-06: 0.6rem;