$color-gradient:  linear-gradient(to right, #24c6dc, #514a9d);
$color-primary: #2359be;
$color-secondary: #FFCC01;
$color-danger: #c10000;

$font-xl: 32px;
$font-l: 28px;
$font-m: 22px;
$font-s: 18px;
$font-xs: 14px;